@font-face {
  font-family: 'Ringbearer';
  src: url('/src/fonts/RINGM___.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  color: goldenrod;
  font-family: 'Ringbearer', sans-serif;
}
