/* @font-face {
  font-family: 'Ringbearer';
  src: url('/src/fonts/RINGM___.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: goldenrod;
  font-family: 'Ringbearer', sans-serif;
} */
