.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: #451808;
  border-radius: 5px;
  padding: 15px;
  z-index: 1;
}

.dropdown-weapon-link {
  display: block;
  color: orange;
  text-decoration: none;
}

.dropdown-weapon-link:hover {
  color: white;
}
