.menu {
  display: flex;
  position: absolute;
  background-color: #451808;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  margin-left: 3rem;
  z-index: 1;
}

.styled-link {
  display: block;
  color: orange;
  text-decoration: none;
}
